.newListingCategories{
    display: flex;
    justify-content: center;
}
.newListingCategories>a:hover{
    cursor: pointer;
    border: solid black 2px;
}
.category__block{
    margin-left: 15px;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}
.category__block img{
    width: 90px;
    height: 75px;
}
.title{
    font-weight: 600;
    font-size: 25px;
}
.form_background{
    min-height: 550px;
    background: rgba(233, 233, 253, 0.8);
    padding: 12px;
}
.form_background input{
    margin: 3px;
    padding: 5px;
    width: 50%;
    height: 30px;
    border-radius: 5px;
}
.form_background select{
    margin: 3px;
    width: 37%;
    height: 25px;
    border-radius: 5px;
}
.form_background select:hover{
    cursor: pointer;
}
.form_background input:hover{
    background-color: #f1f1f1;
}
.form_background input:focus{
    background-color: #f1f1f1;
}
.post_success{
    text-align: center;
}
.post_success span{
    background-color: rgba(118, 206, 30, 0.7);
    font-size: 30px;
    color: white;
    border-radius: 12px;
    text-align: center;
    padding: 5px;
}
.post_success button{
    width: 100px;
    height: 30px;
    background-color: thistle;
    border-radius: 8px;
    cursor: pointer;
}