.content{
  min-height: 100%;
}
.websiteinfo{
  margin: 10px 0px;
}
.websiteinfo__description{
  text-align: center;
  margin: 10px 6%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 88%;
}
.websiteinfo__description a{
  text-decoration: none;
  font-size: 19px;
}
.websiteinfo__description a:visited{
  text-decoration: none;
}
.description__title{
  padding: 5px;
  font-weight: bold;
  font-size: 23px;
}
.description__text{
  line-height: 20px;
}