.header{
  padding: 10px;
  height: 100px;
  border-bottom: 3px solid black;
}
.header__raw{
  display: flex;
  justify-content: space-between;
}
.header__column{
  padding: 5px;
}
.header__logo {
  
}
.header__logo img{
  width: 100px;
  height: 60px;
}
.login{
  
}
.profile__block{
  padding: 3px;
  border: 1px solid grey;
  border-radius: 8px;
}
.userLogo{
  width: 36px;
  height: 36px;
  border-radius: 15px;
}
.dropdown{
  position: relative;
  display: inline-block;
}
.dropbtn{
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown_content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown_content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown_content {
  display: block;
}
.header__menu{
  font-family: 'Courier New', Courier, monospace;
  font-size: 23px;
  padding: 5px;
  display: flex;
}
.menu__column{
  padding: 5px;
}
.menu__item{

}
.menu__item:hover{
  font-weight: 600;
}
.item__link{
  text-decoration: none;
  color: black;
}
.profile__block__logout{
  text-decoration: underline;
  cursor: pointer;
}