.profile{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(200px, auto);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1em;
}
.block1{
    background-color: rgb(226, 209, 209);
    grid-column: 1/2;
    grid-row: 1/3;
}
.block2{
    background-color: rgb(226, 209, 209);
}
.block3{
    background-color: rgb(226, 209, 209);
}
.block4{
    background-color: rgb(226, 209, 209);
    grid-column: 1/3;
}
.block5{
    background-color:rgb(226, 209, 209);
}
.block1 img{
    margin-top: 5%;
    height: 300px;
    width: 500px;
}
.block5 input{
    width: 50%;
    height: 100px;
}